.roses{
  background-color: #E6567A;
  color : #3D4449;
}

.bleuets{
  background-color: #2980B9;
  color : #3D4449;
}

.pensees{
  background-color: #9b59b6;
  color : #3D4449;
}

.menthes{
  background-color: #27ae60	;
  color : #3D4449;
}

.tournesols{
  background-color: #F7BC05;
  color : #3D4449;
  }
